{{ define "main" }}
  <div class="wrap mt post">
    <div>
      {{- $date := (dateFormat "January 02, 2006" .Date) -}}
      <p class=post_date>{{ $date }} - {{ .Params.author }}</p>
      <h1 class="post_title">{{ .Title }}</h1>

      <div class="post_title">
        {{- $categories := .Language.Params.Taxonomies.category | default "categories" }}
        <ul class="post-tags">
          {{- range ($.GetTerms $categories) }}
          <li><a class="nav_item cap" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
          {{- end }}
        </ul>
      </div>

      <div class="post_body">
        <div class="post_inner">
        {{ $image := partial "func/getImage" . }}
        {{ with .Params.image }}
          <img src="{{ $image }}" alt="{{ . }}" class="post_thumbnail">
        {{ end }}
          {{ .Content }}
        </div>
        <div class="post_extra mb-2">
          {{ partialCached "share" . }}
        </div>
        <div>
        {{- if (.Param "comments")}}
        {{- partial "comments.html" . }}
        {{- end }}
        </div>
      </div>
    
    <div class="post_extra">
      {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
      <ul class="post-tags">
        {{- range ($.GetTerms $tags) }}
        <li><a class="nav_item upcase" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
      </ul>
    </div>

    </div>
    <a href={{ absURL "" }} class="post_nav"><span class="post_next">recent works
      <svg class="icon icon_scale">
        <use xlink:href="#double-arrow"></use>
      </svg>
    </span></a>
  </div>
{{ end }}
