{{- /* Comments area start */ -}}
<!-- Embedded HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>

<script>
    const gitalk = new Gitalk({
    clientID: '',
    clientSecret: '',
    repo: '',      // The repository of store comments,
    owner: '',
    admin: [''],
    //id: location.pathname,      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })
  
  gitalk.render('gitalk-container')

</script>
{{- /* Comments area end */ -}}