<footer class="footer wrap pale">
  <p>&copy;&nbsp;<span class="year"></span>&nbsp;{{ site.Data.copyright.name }}</p>
  <p class="attribution upcase">{{ safeHTML (T "designed_by" site.Data.designer) }}</p>
</footer>
{{ $scriptPath := "js/index.js" }}
{{ $scripts := resources.Get $scriptPath | resources.ExecuteAsTemplate $scriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $scripts.Permalink }}"></script>
